

  
  .App {
    background-image: url(/assets/backgound.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f3efef;
    min-height: 100vh;
    font-family: "Montserrat", sans-serif;
    
  }
  
  main {
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    width: 100%;
    max-width: 800px;
    margin-top: 20px;
    border-radius: 5px;
    
  }
   
  header {
    background-color: palevioletred;
    color: white;
    padding: 10px 20px;
    width: 100%;
    text-align: center;
    font-size: 24px;
  }
  
  footer {
    background-color: #885aad;
    color: white;
    padding: 20px 0;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 1;
    margin-top: 1%;

  }
  
  footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: 600;
    transition: color 0.3s;
  }
  
  footer a:hover {
    color: #f4f4f4;
  }
  
  
  nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 10px;
  }
  
  .navigation-link {
    text-decoration: none;
    color: palevioletred;
    font-weight: 800;
    padding: 8px 16px;
    background-color: #f4f4f4;
    border: 3px solid palevioletred;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    cursor: pointer;
  }
  
  .navigation-link:hover {
    background-color: palevioletred;
    color: white;
    border: 1px solid palevioletred;
  } 

  @media screen and (max-width: 768px) {
    footer {
      font-size: 18px;
      padding: 15px 0;
    }
  }