/* h1, h2 {
  text-align: center;
 
}

body, h3, p {
  margin: 10;
  padding: 5;
  color: white;
  
}
 */


body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: palevioletred;
  font-size: 16px;
}
