.about-me {
    background-color: palevioletred;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 7px 15px rgba(0, 0, 0, .4);
    color: white;
    font-size: 20 px;
    text-align: center;
}

.about-me h1 {
    text-align: center;
    color: white;
    
}

.my-image {
    max-width: 300px; 
    height: 250px;  
    margin: 0 auto; 
    margin-bottom: 20px; 
    align-items: center;
    margin-left: 50px;
  }